@model IEnumerable<dynamic>
@{
    var modelItemType = MyModelHelper.GetTypeFromCollection(Model);
    var metadataForModelItem = ModelMetadataProviders.Current.GetMetadataForType(null, modelItemType);
    
    var displayName = metadataForModelItem.DisplayName;
    ViewBag.Title = displayName;
    var controllerName = this.GetControllerName();
    var headMessage = string.Format("{0}：列表", displayName);

}
@*@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(metadataForModelItem.Properties))
<hr/>*@

@*@{
    var grid = new WebGrid(Model);
    @grid.GetHtml();
    <hr />
}*@
<h3>@headMessage</h3>
<a href="@Url.Action("Add", controllerName)"
   class="btn btn-primary">
    创建
</a>
<hr/>

<table class="table table-hover">
    <thead>
        @Html.Partial("_CrudIndexHeader", metadataForModelItem)
    </thead>
    <tbody>
        @foreach (object item in Model)
        {
            @Html.Partial("_CrudIndexRow", item)
        }
    </tbody>
</table>
@section scripts
{
    <script>
        $(function () {
            $(".delete-form").on("submit", function () {
                return confirm("确定要删除此条记录吗？");
            });
        });
    </script>
}
