@model IEnumerable<dynamic>
@{
    var meta = (CrudViewModelMeta)ViewBag.CrudViewModelMeta;
    var classInfo = meta.ClassInfo;
    ViewBag.Title = classInfo.Caption;
    var headMessage = string.Format("{0}列表", classInfo.Caption);
    var controllerName = meta.Controller;

    var modelItemType = MyModelHelper.GetTypeFromCollection(Model);
    var metadataForModelItem = ModelMetadataProviders.Current.GetMetadataForType(null, modelItemType);
}
@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(metadataForModelItem.Properties))
<hr/>
<h3>@headMessage</h3>
<a href="@Url.Action("Add", controllerName)"
   class="btn btn-primary">
    创建
</a>
<hr />
<table class="table table-hover">
    <thead>
        @Html.Partial("_CrudIndexHeader", metadataForModelItem)
    </thead>
    <tbody>
        @foreach (object item in Model)
        {
            @Html.Partial("_CrudIndexRow", item)
        }
    </tbody>
</table>
@section scripts
{
    <script>
        $(function () {
            $(".delete-form").on("submit", function () {
                return confirm("确定要删除此条记录吗？");
            });
        });
    </script>
}
